[req]
distinguished_name  = req_distinguished_name
x509_extensions     = v3_req
prompt              = no
string_mask         = utf8only

[req_distinguished_name]
O                   = TelcOS Melaleuca
OU                  = Telco T1
CN                  = WebAdmin

[v3_req]
keyUsage            = keyEncipherment, dataEncipherment
extendedKeyUsage    = serverAuth

[alt_names]
IP.1                = 192.168.1.1
