<%#
 Copyright 2020 Telco Antennas Pty Ltd <nicholas.smith@telcoantennas.com.au>
 Licensed to the public under the Apache License 2.0.
-%>

<%
	local fs = require "nixio.fs"
	local ipc = require "luci.ip"
	local util = require "luci.util"
	local stat = require "luci.tools.status"
	local ver = require "luci.version"

	if luci.http.formvalue("status") == "1" then

		local rv = {
				imei = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --dms-get-ids | grep IMEI | sed 's/^.*: //' |  tr -cd [:digit:]"),
        		temperature   = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-swi-get-status | grep Temperature | sed 's/^.*: //' |  tr -cd [:digit:]"),
        		access_tech   = string.upper(luci.sys.exec("mmcli -m 0 | grep access | sed 's/.*: //' | tr -d \"'\"")),
        		registration_state = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-serving-system | grep 'Registration state' | sed 's/^.*: //' | tr -d \"'\""),
        		operator_name = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-serving-system | grep Description | sed 's/^.*: //' | tr -d \"'\""),
        		mobile_rssi   = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-signal-info | grep RSSI | sed 's/^.*: //' | tr -d \"'\""),

        		mobile_rsrq   = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-signal-info | grep RSRQ | sed 's/^.*: //' | tr -d \"'\""),
        		mobile_rsrp   = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-signal-info | grep RSRP | sed 's/^.*: //' | tr -d \"'\""),
        		mobile_snr    = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-signal-info | grep SNR | sed 's/^.*: //' | tr -d \"'\""),
        		mobile_rscp    = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-signal-info | grep RSCP | sed 's/^.*: //' | tr -d \"'\""),
        		mobile_ecio    = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-signal-info | grep ECIO | sed 's/^.*: //' | tr -d \"'\""),
				mobile_percentage = luci.sys.exec("mmcli -m 0 | grep quality | sed 's/[^0-9]*//g' | tr -cd [:digit:]"),

				sim_status    = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --dms-uim-get-state | grep 'not-present' | sed 's/^.*: //' | tr -d \"'\""),

				modemlocation = luci.sys.exec("mmcli -m 0 --location-get -K > /tmp/modemlocation"),
				mcc = luci.sys.exec("grep 'mcc' /tmp/modemlocation | sed 's/^.*: //'"),
				mnc = luci.sys.exec("grep 'mnc' /tmp/modemlocation | sed 's/^.*: //'"),
				lac = luci.sys.exec("grep 'lac' /tmp/modemlocation | sed 's/^.*: //'"),
				cid = luci.sys.exec("grep 'cid' /tmp/modemlocation | sed 's/^.*: //'"),
				tac = luci.sys.exec("grep 'tac' /tmp/modemlocation | sed 's/^.*: //'"),

				active_band = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-rf-band-info | grep 'Band Class' | sed 's/^.*: //' | tr -d \"'\""),
				active_channel = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-rf-band-info | grep 'Active Channel' | sed 's/^.*: //' | tr -d \"'\""),
				
				castatus = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-lte-cphy-ca-info | grep 'State' | sed 's/^.*: //' | tr -d \"'\""),
				
				ca_pband = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-lte-cphy-ca-info | grep 'Band:' | awk '/Band\:/'{i++}i==1"),
				ca_pbandwidth = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-lte-cphy-ca-info | grep 'DL Bandwidth' | awk '/DL Bandwidth/'{i++}i==2"),
				ca_pchannel = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-lte-cphy-ca-info | grep 'RX Channel:' | awk '/RX Channel\:/'{i++}i==1"),
				ca_pcid = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-lte-cphy-ca-info | grep 'Physical Cell ID:' | awk '/Physical Cell ID\:/'{i++}i==1"),

				ca_sband = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-lte-cphy-ca-info | grep 'Band:' | awk '/Band\:/'{i++}i==2"),
				ca_sbandwidth = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-lte-cphy-ca-info | grep 'DL Bandwidth' | awk '/DL Bandwidth/'{i++}i==3"),
				ca_schannel = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-lte-cphy-ca-info | grep 'RX Channel:' | awk '/RX Channel\:/'{i++}i==2"),
				ca_scid = luci.sys.exec("qmicli -p -d /dev/cdc-wdm0 --nas-get-lte-cphy-ca-info | grep 'Physical Cell ID:' | awk '/Physical Cell ID\:/'{i++}i==2")

		}

		luci.http.prepare_content("application/json")
		luci.http.write_json(rv)

		return
	end
-%>

<%+header%>

<script type="text/javascript">//<![CDATA[
	function progressbar(v, m)
	{
		var vn = parseInt(v) || 0;
		var mn = parseInt(m) || 100;
		var pc = Math.floor((100 / mn) * vn);

		return String.format(
			'<div style="width:100%%; max-width:200px; position:relative; border:1px solid #999999">' +
				'<div style="background-color:#CCCCCC; width:%d%%; height:15px">' +
					'<div style="position:absolute; left:0; top:0; text-align:center; width:100%%; color:#000000">' +
						'<small>%s / %s (%d%%)</small>' +
					'</div>' +
				'</div>' +
			'</div>', pc, v, m, pc
		);
	}

	function labelList(items, offset) {
		var rv = [ ];

		for (var i = offset || 0; i < items.length; i += 2) {
			var label = items[i],
			    value = items[i+1];

			if (value === undefined || value === null)
				continue;

			if (label)
				rv.push(E('strong', [label, ': ']));

			rv.push(value, E('br'));
		}

		return rv;
	}

	function renderBox(title, active, childs) {
		childs = childs || [];
		childs.unshift(E('span', labelList(arguments, 3)));

		return E('div', { class: 'ifacebox' }, [
			E('div', { class: 'ifacebox-head center ' + (active ? 'active' : '') },
				E('strong', title)),
			E('div', { class: 'ifacebox-body left' }, childs)
		]);
	}

	function renderBadge(icon, title) {
		return E('span', { class: 'ifacebadge' }, [
			E('img', { src: icon, title: title || '' }),
			E('span', labelList(arguments, 2))
		]);
	}

	XHR.poll(5, '<%=REQUEST_URI%>', { status: 1 },
		function(x, info)
		{

			var e;

			if (e = document.getElementById('imei'))
				e.innerHTML = info.imei;
			if (e = document.getElementById('temperature')) {
				var temperature_note = "";
				if ((parseInt(info.temperature, 10)) > 70) {
					temperature_note = " - hot";
				} else {
					temperature_note = " - normal";
				}
				e.innerHTML = info.temperature + "&deg C" + temperature_note;
				if (info.tempreature == null) {                                                                                                                                                        
					e.innerHTML = "Sierra Wireless cards only";                                                                                                                                    
				}  
			}
			if (e = document.getElementById('access_tech'))
				e.innerHTML = info.access_tech;
			if (e = document.getElementById('registration_state'))
				e.innerHTML = info.registration_state;
			if (e = document.getElementById('operator_name'))
				e.innerHTML = info.operator_name;
			if (e = document.getElementById('mobile_rssi'))
				e.innerHTML = info.mobile_rssi;
			if (e = document.getElementById('mobile_rsrp'))
				e.innerHTML = info.mobile_rsrp;
            if (e = document.getElementById('mobile_rsrq'))
                e.innerHTML = info.mobile_rsrq;
            if (e = document.getElementById('mobile_snr'))
                e.innerHTML = info.mobile_snr;
			if (e = document.getElementById('mobile_rscp'))
				e.innerHTML = info.mobile_rscp;
			if (e = document.getElementById('mobile_ecio'))
               	e.innerHTML = info.mobile_ecio;
            if (e = document.getElementById('lac'))
				e.innerHTML = parseInt(info.lac.toString(), 16);
			if (e = document.getElementById('cid'))
               	e.innerHTML = parseInt(info.cid.toString(), 16);
            if (e = document.getElementById('mcc'))
                e.innerHTML = info.mcc;
			if (e = document.getElementById('mnc'))
				e.innerHTML = info.mnc;
			if (e = document.getElementById('tac'))
				e.innerHTML = parseInt(info.tac.toString(), 16);
			if (e = document.getElementById('sim_status')) {
				if (info.sim_status.includes("not-present")) {
					e.innerHTML = "Not detected";
					document.getElementById("sim_missing").style.display = "block";
					document.getElementById("location_info").style.display = "none";
					document.getElementById("ca_info").style.display = "none";
					document.getElementById("access_tech_container").style.display = "none";
					document.getElementById("operator_name").innerHTML = "None -- no SIM";

				} else {
					e.innerHTML = "Normal";
				}
			}

		if (e = document.getElementById('active_band')) {
			e.innerHTML = info.active_band.replace("eutran-", "LTE Band ").replace("utran-", "UMTS Band ");
		}

		if (e = document.getElementById('active_channel')) {
			e.innerHTML = info.active_channel;
		}

		if (e = document.getElementById('active_bandwidth')) {
			e.innerHTML = info.ca_pbandwidth.replace(/\D/g,'') + " MHz";
		}
		
		if (e = document.getElementById('ca_pband')) {
			e.innerHTML = info.ca_pband.replace(":",'').replace("eutran-", "").replace("utran-", "").replace("'","").replace("'","")
		}

		if (e = document.getElementById('ca_pchannel')) {
			e.innerHTML = info.ca_pchannel.replace(/\D/g,'');
		}
		
		if (e = document.getElementById('ca_status')) {
			e.innerHTML = info.castatus;
		}
		if (e = document.getElementById('ca_pbandwidth')) {
			e.innerHTML = info.ca_pbandwidth.replace(/\D/g,'') + " MHz";
		}
		if (e = document.getElementById('ca_sbandwidth')) {
			e.innerHTML = info.ca_sbandwidth.replace(/\D/g,'') + " MHz";
		}
		
		if (e = document.getElementById('ca_sband')) {
			e.innerHTML = info.ca_sband.replace(":",'').replace("eutran-", "").replace("utran-", "").replace("'","").replace("'","");
		}
		if (e = document.getElementById('ca_pcid')) {
			e.innerHTML = info.ca_pcid.replace(/\D/g,'')
		}
		if (e = document.getElementById('ca_scid')) {
			e.innerHTML = info.ca_scid.replace(/\D/g,'')
		}
		if (e = document.getElementById('ca_schannel')) {
			e.innerHTML = info.ca_schannel.replace(/\D/g,'');
		}


			if (info.access_tech.includes("LTE")) {
				document.getElementById("4g_signal_info").style.display = "block";
				document.getElementById("3g_signal_info").style.display = "none";
			}
			if (info.access_tech.includes("UMTS")) {
				document.getElementById("3g_signal_info").style.display = "block";
				document.getElementById("4g_signal_info").style.display = "none";
				document.getElementById("ca_info").style.display = "none";
			}
			if (info.access_tech.includes("UNKNOWN")) {
				document.getElementById("3g_signal_info").style.display = "block";
				document.getElementById("4g_signal_info").style.display = "block";
			}

		}
	);
//]]></script>

<h2 name="content"><%:Mobile Data Status%></h2>

<div class="cbi-section">
	<h3><%:Modem Information%></h3>

	<div class="table" width="100%">
		<div class="tr"><div class="td left" width="33%"><%:IMEI%></div><div class="td left" id="imei">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Temperature%></div><div class="td left" id="temperature">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Operator Name%></div><div class="td left" id="operator_name">-</div></div>
		<div class="tr"><div class="td left" width="33%" id ="access_tech_container"><%:Access Technology%></div><div class="td left" id="access_tech">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Registration State%></div><div class="td left" id="registration_state">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Mobile RSSI%></div><div class="td left" id="mobile_rssi">-</div></div>
	</div>
</div>

<div class="cbi-section" id="sim_missing" style="display: none; background-color:#ffc8c8">
	<h3><%:SIM Not Detected%></h3>
	<p>The SIM card could not be detected. Please check that it is installed correctly and that it is has been activated. To avoid risk of damaging the SIM card, please power down the device before inserting or removing the SIM card.  No registration could be made to a network, so only limited signal information is available.</p>
	<br>
	<p><b>Tip</b>: If the SIM card works in a mobile phone, please check whether there is PIN lock on the SIM card.  You can enter a PIN and other SIM authentication details when editing the Mobile Data interface settings in the Advanced Settings section.<br><br><a href='https://" .. lanIPNumber .. "/cgi-bin/luci/admin/network/network/mobiledata'>Go to Mobile Data network settings</a>
</p><br>
</div>

<div class="cbi-section" id="4g_signal_info" style="display: none;">
	<h3><%:4G LTE Signal Information%></h3>
	<p>See our <a href="https://www.telcoantennas.com.au/blog/guide-to-mobile-networks/3g-umts-signal-strength-reference-guide/">3G UMTS</a> and <a href="https://www.telcoantennas.com.au/blog/guide-to-mobile-networks/4g-lte-signal-strength-reference-guide/">4G LTE</a> signal strength reference guides for how to interpret these values.</p><br>
	<div class="table" width="100%">
		<div class="tr"><div class="td left" width="33%"><%:RSRP%></div><div class="td left" id="mobile_rsrp">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:RSRQ%></div><div class="td left" id="mobile_rsrq">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:SNR%></div><div class="td left" id="mobile_snr">-</div></div>
	</div>
</div>

<div class="cbi-section" id="3g_signal_info" style="display: none;">
        <h3><%:3G UMTS Signal Information%></h3>
	<p>See our <a href="https://www.telcoantennas.com.au/blog/guide-to-mobile-networks/3g-umts-signal-strength-reference-guide/">3G UMTS</a> and <a href="https://www.telcoantennas.com.au/blog/guide-to-mobile-networks/4g-lte-signal-strength-reference-guide/">4G LTE</a> signal strength reference guides for how to interpret these values.</p><br>
        <div class="table" width="100%">
			<div class="tr"><div class="td left" width="33%"><%:Ec/Io%></div><div class="td left" id="mobile_ecio">-</div></div>
        </div>
</div>

<div class="cbi-section" id="sim_info">
	<h3>SIM Information</h3>
	<div class="table" width="100%">
		<div class="tr"><div class="td left" width="33%"><%:SIM Status%></div><div class="td left" id="sim_status">-</div></div>
	</div>
</div>

<div class="cbi-section" id="location_info">
        <h3>Cell Location Information</h3>
        <div class="table" width="100%">
		<div class="tr"><div class="td left" width="33%"><%:3GPP Location Area Code (LAC)%></div><div class="td left" id="lac">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Cell ID (CID)%></div><div class="td left" id="cid">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Mobile Country Code (MCC)%></div><div class="td left" id="mcc">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Mobile Network Code (MNC)%></div><div class="td left" id="mnc">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Tracking Area Code (TAC)%></div><div class="td left" id="tac">-</div></div>
        </div>
</div>

<div class="cbi-section" id="band_info">
        <h3>Connected Band</h3>
        <div class="table" width="100%">
		<div class="tr"><div class="td left" width="33%"><%:Primary Band%></div><div class="td left" id="active_band">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Primary Bandwidth%></div><div class="td left" id="active_bandwidth">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Primary Channel%></div><div class="td left" id="active_channel">-</div></div>
        </div>
</div>

<div class="cbi-section" id="ca_info">
        <h3>Carrier Aggregation Information</h3>
        <p>The mobile network may allow your device to connect to two bands in order to improve data transfer speeds.  Carrier aggregation is usually only active during network activity.</p>
        <br>
        <div class="table" width="100%">
		<div class="tr"><div class="td left" width="33%"><%:Carrier Aggregation Status%></div><div class="td left" id="ca_status">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Primary Band%></div><div class="td left" id="ca_pband">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Primary Bandwidth%></div><div class="td left" id="ca_pbandwidth">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Primary Channel%></div><div class="td left" id="ca_pchannel">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Primary Cell ID%></div><div class="td left" id="ca_pcid">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Secondary Band%></div><div class="td left" id="ca_sband">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Secondary Bandwidth%></div><div class="td left" id="ca_sbandwidth">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Secondary Channel%></div><div class="td left" id="ca_schannel">-</div></div>
		<div class="tr"><div class="td left" width="33%"><%:Secondary Cell ID%></div><div class="td left" id="ca_scid">-</div></div>
        </div>
</div>


<%+footer%>
